#root {
  padding: 10px;
}

.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

label * {
  margin: 5px;
}

img {
  width: 45vh;
  height: fit-content;
  border-radius: 5px;
  margin-bottom: 15px;
}

.input {
  margin: auto;
  padding: 10px;
  width: 43vh;
  background-color: rgb(222, 219, 219);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: end;
  border-radius: 5px;
}

input {
  border-radius: 10px;
  border: none;
  padding: 5px;
}

button {
  margin: 10px auto;
  width: 100px;
  height: 25px;
  border-radius: 20px;
  border: none;
}

button:hover,
input:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
