#root {
  padding: 10px;
}
.App {
  text-align: center;
  margin: 10 vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

label * {
  margin: 20px;
}

img {
  height: 50vh;
}
